.loaderBox{
    height:50px;
    width:50px;
    border-radius:10px;
    background-color: red;
}
.selectedBox{
    z-index: -10;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #ae6dff;
    box-shadow:0 15px 30px 10px #00000055;
    border-radius: 10%;
}

.tabNames{
    background-image:linear-gradient(90deg,rgba(205, 214, 244, 1) 0%, rgba(147, 153, 178, 1) 50%, rgba(108, 112, 134, 1) 100%); 
    color: transparent;
    background-clip: text;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}


.tabNames:hover{
    background-color:var(--fg);
    color: var(--fg);
    background-clip: text;
}
.switchContainer{
    position: absolute;
    right:6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.switchInnerBox{
    width: 70px;
    height: 35px;
    background-color: #1e1e2e;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
    outline:none;
    border:none;
    box-shadow:0 15px 30px 10px #00000055;
}

.switchHandle{
    width: 25px;
    height: 25px;
    background-color: #ae6dff;
    border-radius: 50%;
}