@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #11111b;
    --secondary:#89b4fa;
    --secondary-light:#bad5ff;
    --secondary-shadow:#89b4fa44;
    /* --bg: #11111b; */
    --bg: #0b0b0f;
    /* --bg2: #1e1e2e; */
    --bg2: #131322;
    --bg3: #181825;
    --foreground: #cdd6f4;
    --fg: #cdd6f4;
    --fg2: #a6adc8;
    --fg3: #34363f;
    --primary:#ae6dff;
    --primary-shadow:#ae6dff44;
    --primary-light:#d3afff;
  }
}

*{
  cursor:none;
}

::-moz-selection { /* Code for Firefox */
  color: var(--fg);
  background: var(--bg3);
}

::selection {
  color: var(--fg);
  background: var(--bg3);
}

html{
  background-color:var(--bg);
}
body{
  /* background-image: linear-gradient(179deg,rgba(30, 30, 46, 1) 0%, rgba(24, 24, 37, 1) 50%, rgba(17, 17, 27, 1) 100%); */
  /* background-image:linear-gradient(120deg,var(--bg2) 10%,var(--bg) 100%);
  background-size: cover;
  background-repeat: no-repeat; */
  background:none;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height:100vh;
  pointer-events: none;
}
h1,p,button,a,img{
  pointer-events:all;
}

.no-select {
  -webkit-user-select: none; 
  -ms-user-select: none;
  user-select: none; 
}
.customCursor{
  background-color:transparent;
  box-shadow:0 0 100px 100px rgb(205, 214, 244,0.2);
  height:1px;
  width:1px;
  border-radius:50%;
  z-index: 1000;
}

.selectedBox{
    z-index: -10;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #ae6dff;
    box-shadow:0 15px 30px 10px #00000055;
    border-radius: 1rem;
    transition:all 0.6s ease-in-out;
}


/* .selectedBox:hover{
    background-color: #ae6dff;
    box-shadow:0 15px 30px 10px #ae6dff44;
    transform: scale(1.1);
    border-radius: 1rem;
} */

.shadowBox{
  box-shadow: 10px 0 30px 10px #00000055;
} 
